@import "../../Sass/variables";

.form__element--error::placeholder {
  color: $error;
}

.section__search-form {
  padding: 2rem;
  background-color: $primary;
}

.search-form {
  display: inline-block;
}

.element-wrap {
  margin: 0;
  padding: 0;
  position: relative;
}

.form__element {
  font: $font-stack;
  height: 2.5rem;
  width: calc(100vw - 5rem);
  border: 2px solid $white;
  border-radius: 5px;
  max-width: 23rem;
  outline: none;
  box-sizing: border-box;
  font-size: 1rem;
  -webkit-appearance: none;
  padding: 0 0.5em 0 0.5em;
}

.form__element.warning {
  position: absolute;
  color: orange;
  border: none;
  top: -1.4rem;

}

.element-wrap:not(:last-child) {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {

  .search-form {
    background-color: $grey;
  }

  .element-wrap {
    display: inline-block;
  }

  .form__element {
    width: 18rem;
    height: 2rem;
    margin: 0;
    border: 0.5px solid $dark-grey;
    border-radius: 0;
  }

  .form__element:not(input) {
    width: 9rem;
  }

  .element-wrap:not(:last-child) {
    margin-bottom: 0;
  }

  .form__element:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .form__element:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .search-form {
    border: 2px solid $white;
    border-radius: 5px;
  }
  
}
